{% extends 'base.html' %}

{% block body %}
<style>
  .jumbotron{
    background-color:rgba(4, 0, 14, 0.719);
    text-align:center;
}
</style>
<div class="container" style="padding:100px;">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4" style="color:whitesmoke;">{{ blog[1] }}</h1>
          <p class="lead" style="color:whitesmoke;"> {{blog[3]}} </p><hr>
          <p class="lead" style="color:whitesmoke;"> {{blog[2]}} </p>
        </div>
    </div>    
</div>
{% endblock %}