{% extends 'base.html' %}

{% block alert %}

{% endblock %}

{% block body %}

<div class="container" style="padding-right: 390px;padding-left: 410px; padding-top: 70px; ">
    <form method="POST">
        <div class="form-group">
            <input type="text" class="form-control" name="first_name" placeholder="First Name">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="last_name" placeholder="Last Name">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="username">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" name="email" placeholder="Email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password">
          </div>
          <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
      </form>
    
</div>

{% endblock %}